{% extends "base.html" %} {% block title %}Coffee Spaces{% endblock %} {% block
content %}
<section
  class="flex flex-col gap-10 text-surface-dark text-header bg-primary text-center py-8"
>
  <h1 class="text-8xl font-bold">Coffee Spaces ☕️</h1>
  <p class="font-header text-md">
    Study, Work or Relax In One Our Coffee Spaces
  </p>
</section>

<section
  class="px-20 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-y-10 mt-15 gap-10"
>
  <div class="room relative rounded-lg overflow-hidden">
    <a href="/space">
      <img
        class="w-full aspect-video object-cover"
        src="{{ url_for('static', filename='images/cafe-tokyo-night.png') }}"
      />
      <div class="bg-surface py-5 px-4">
        <p class="text-primary font-bold font-body">Tokyo Night</p>
        <p class="text-primary-mid font-bold">
          Lofi Chill - {{ active_listeners }} listening
        </p>
        <p class="text-body text-white pt-2">
          <span class="rounded-full bg-accent px-3 py-1">Live</span>
        </p>
      </div>
    </a>
  </div>

  <div class="room relative rounded-lg overflow-hidden room-unavailable">
    <div class="relative">
      <p
        class="unavailable-text absolute inset-0 flex items-center justify-center text-white z-10"
      >
        Currently Unavailable
      </p>
      <img
        class="w-full aspect-video object-cover"
        src="{{ url_for('static', filename='images/beachfront-krabi.png') }}"
      />
    </div>

    <div class="bg-surface py-5 px-4">
      <p class="text-primary font-bold font-body">Thai Beach House</p>
      <p class="text-primary-mid font-bold">
        Lofi Hip Hop - Room Under Construction
      </p>
      <p class="text-body text-white pt-2">
        <span class="rounded-full bg-accent px-3 py-1">Live</span>
      </p>
    </div>
  </div>

  <div class="room relative rounded-lg overflow-hidden room-unavailable">
    <div class="relative">
      <p
        class="unavailable-text absolute inset-0 flex items-center justify-center text-white z-10"
      >
        Currently Unavailable
      </p>
      <img
        class="w-full aspect-video object-cover"
        src="{{ url_for('static', filename='images/cafe-image-london.png') }}"
      />
    </div>
    <div class="bg-surface py-5 px-4">
      <p class="text-primary font-bold font-body">London House</p>
      <p class="text-primary-mid font-bold">Jazz- Room Under Construction</p>
      <p class="text-body text-white pt-2">
        <span class="rounded-full bg-accent px-3 py-1">Live</span>
      </p>
    </div>
  </div>

  <div class="room relative rounded-lg overflow-hidden room-unavailable">
    <div class="relative">
      <p
        class="unavailable-text absolute inset-0 flex items-center justify-center text-white z-10"
      >
        Currently Unavailable
      </p>
      <img
        class="w-full aspect-video object-cover"
        src="{{ url_for('static', filename='images/cafe-image-brazil.png') }}"
      />
    </div>
    <div class="bg-surface py-5 px-4">
      <p class="text-primary font-bold font-body">Rio Rooftop</p>
      <p class="text-primary-mid font-bold">Chill - Room Under Construction</p>
      <p class="text-body text-white pt-2">
        <span class="rounded-full bg-accent px-3 py-1">Live</span>
      </p>
    </div>
  </div>

  <div class="room relative rounded-lg overflow-hidden room-unavailable">
    <div class="relative">
      <p
        class="unavailable-text absolute inset-0 flex items-center justify-center text-white z-10"
      >
        Currently Unavailable
      </p>
      <img
        class="w-full aspect-video object-cover"
        src="{{ url_for('static', filename='images/cafe-image-japan.png') }}"
      />
    </div>
    <div class="bg-surface py-5 px-4">
      <p class="text-primary font-bold font-body">Kyoto Evening</p>
      <p class="text-primary-mid font-bold">
        Japanese Jazz - Room Under Construction
      </p>
      <p class="text-body text-white pt-2">
        <span class="rounded-full bg-accent px-3 py-1">Live</span>
      </p>
    </div>
  </div>

  <div class="room relative rounded-lg overflow-hidden room-unavailable">
    <div class="relative">
      <p
        class="unavailable-text absolute inset-0 flex items-center justify-center text-white z-10"
      >
        Currently Unavailable
      </p>
      <img
        class="w-full aspect-video object-cover"
        src="{{ url_for('static', filename='images/cafe-image-riverside-vietnam.png') }}"
      />
    </div>
    <div class="bg-surface py-5 px-4">
      <p class="text-primary font-bold font-body">Riverside Vietnam</p>
      <p class="text-primary-mid font-bold">
        Lofi Hip Hop - Room Under Construction
      </p>
      <p class="text-body text-white pt-2">
        <span class="rounded-full bg-accent px-3 py-1">Live</span>
      </p>
    </div>
  </div>
</section>
{% endblock %}
